<div class="container" ng-controller="FriendController as ctrl">

	<p>
	<p>
	<p>
	<p>
	
	<p>
	<p>
	<p>
	<p>
	
	<div class="form-group has-feedback"></div>
	
<!-- <div>   ng-button="ctrl.getMyFriendRequests()"  </div> -->
  
My Friends

<div ng-init="ctrl.getMyFriends()">

		<ul>

			<!-- Render a li element for every entry in the items array. Notice
				 the custom search filter "searchFor". It takes the value of the
				 searchString model as an argument.
			 -->
			<li ng-repeat="i in ctrl.friends | filter:searchString">

				{{i.userID}}
				<button class="example pinterest" ng-click="ctrl.unFriend(i.userID)">Unfriend!</button>
				</li>
		</ul>
	</div>
	
</div>
</div>